/* Categorie ULM */

#text{
  font-size: 20px;
}

.blueULM{
  color: #003047;
  font-family: 'Jomhuria';
}

/* Fonts */

@font-face{
  font-family: 'Jomhuria';
  src: url( '../Ressources/Fonts/Jomhuria/Jomhuria-Regular.ttf');
}