/* Categorie ULM */

.textSmall{
  font-size: 0.8em !important;
  text-align: justify !important;
}

.ulmCard{
  width: 20vw;
}

.cardBottom{
  width: 20vw;
  position: relative;
  background-color: #003047;
  color: white;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.cardBottomTitle{
  width: fit-content;
  background-color: white;
  color: #003047;
  clip-path: polygon(0 0, 85% 0, 100% 99%, 0% 100%);
}

.spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#ulmCardPhoto{
  width: 20vw;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.buttonCustom{
  transition: 300ms !important;
  font-family: 'Jomhuria';
  font-size: 1.8em !important;
  line-height: 1 !important;
  border-radius: 2em !important;
}

.buttonCustom:hover{
  scale: 1.1;
}

.prixCustom{
  font-family: 'Jomhuria';
  font-size: 1.6em !important;
}

/* Fonts */

@font-face{
  font-family: 'Jomhuria';
  src: url( '../Ressources/Fonts/Jomhuria/Jomhuria-Regular.ttf');
}