body {
    padding: 0 !important;
}

* {
    font-family: Jomolhari;
}

/* Navbar */
.navLink {
    text-decoration: none;
    color: white;
    font-size: 2.2vw;
    line-height: 1;
    font-family: Jomhuria;
}

.navLink:hover {
    transition-duration: 100ms;
    border-bottom: 0.2vw solid #ffffff;
    color: white !important;
}

/* Activité */
.roundImg {
    width: 24vw;
    height: 24vw;
    margin-top: 4vw;
    margin-right: 10vw;
}

.YellowCircle {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background-color: yellow;
}


/* Moyen pédagogique */
.hvw {
    height: 33vw;
}

.barYellow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 1vw;
    border-radius: 10px;
    background-color: yellow;
}
.topMid {
    top: 0;
}
.botMid {
    top: 100%;
}


/* Typographie */

.text {
    font-size: 1.2vw;
}

.sectionTitle {
    font-size: 3.5vw;
    font-family: Jomhuria;
    line-height: 0.8;
    color: #003047;
    border-bottom: 0.3vw solid #003047;
    width: fit-content;
    margin-bottom: 2vw;
}

.sectionSubTitle {
    font-size: 4vw;
    font-family: Jomhuria;
    line-height: 0.7;
    color: #6BBFF1;
}

/* Color */
.backgroundDarkBlue {
    background-color: rgba(0, 48, 71, 1);
}

.backgroundBlue {
    background-color: #90CAF9;
}

/* Image */

.fitCover {
    object-fit: cover;
}

/* Fonts */
/* Title */
@font-face {
    font-family: Jomhuria;
    src: url(../Ressources/Fonts/Jomhuria/Jomhuria-Regular.ttf);
}

/* Texte */
@font-face {
    font-family: Jomolhari;
    src: url(../Ressources/Fonts/Jomolhari/Jomolhari-Regular.ttf);
}


/* TEMP */
#accueil {
    height: 300px;
}