* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Responsive sur mobile */
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

/* Titre au bas de l'image */
.text-justify {
    margin: auto;
    padding-top: 80vh;
    
    font-size: 2em;
}

/* Image en arrière-plan plus cover et détails */
.container-fluid {
    padding: 0;
    background-image: url(../Ressources/Images/New/image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center; /* Ajout de l'alignement vertical au centre */
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 2vh;
}

.no-underline:hover {
    text-decoration: none;
    color: #5279A2;
  }

.no-underline{
    color: #003047;
}


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #full {
    height: 100vh;
    background-color: #256347;
  }
  
  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 40;
}

.buttons {
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

#cookie-banner{
    background-color: #003047;
}

.visibility{
    visibility: hidden;
}