*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


/*Responsive sur mobile*/
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);

    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

.container-fluid  {
    padding: 0; /* Assurez-vous qu'aucun remplissage n'est appliqué au conteneur */
    background-image: url(../Ressources/Images/New/image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;

}

@media only screen and (max-width: 767px) { 
    .container-fluid{
        /* The file size of this background image is 93% smaller to improve page load speed on mobile internet connections */ 
        background-image: url(../Ressources/Images/New/image.png); 
        max-width: 767px;
        background-size: 100%;
    } 
    
        

    }